node_modules/
*.exe

# Firebase Secrets (The most important part!)
serviceAccountKey.json

# Environment Variables (For ports, API keys, etc.)
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db